@model ShortUrl
@{
    ViewData["Title"] = "產生成功";
    
    var host = Context.Request.Host;
    var shareUrl = Url.ActionContext.HttpContext.Request.Scheme + "/" +  ViewData["Path"];
}
<br />

<div class="jumbotron">
    <h1>產生成功</h1>
    <br />
    <p>短網址已經產生成功</p>
    <br />
    <form class="form-horizontal">
        <!--ID-->
        <div class="form-group">
            <label class="col-sm-2 control-label">ID : </label>
            <div class="col-sm-10">
                <input asp-for="Id" class="form-control" id="disabledInput" type="text" placeholder="Id" disabled>
            </div>
        </div>
        <!--暱稱-->
        <div class="form-group">
            <label class="col-sm-2 control-label">暱稱 : </label>
            <div class="col-sm-10">
                <input asp-for="Provider" class="form-control" id="disabledInput" type="text" placeholder="暱稱" disabled>
            </div>
        </div>
        <!--備註-->
        <div class="form-group">
            <label class="col-sm-2 control-label">備註 : </label>
            <div class="col-sm-10">
                <input asp-for="Memo" class="form-control" id="disabledInput" type="text" placeholder="備註" disabled>
            </div>
        </div>
        <!--原始網址-->
        <div class="form-group">
            <label class="col-sm-2 control-label">原始網址 : </label>
            <div class="col-sm-10">
                <input asp-for="OriginalUrl" class="form-control" id="disabledInput" type="text" placeholder="原始網址" disabled>
            </div>
        </div>
        <!--轉址後的網址-->
        <div class="form-group">
            <label class="col-sm-2 control-label">分享地址 : </label>
            <div class="col-sm-10">
                <span class="input-group-btn">
                    <input asp-for="OriginalUrl" class="form-control" type="text" placeholder="分享地址"
                           value="@shareUrl" id="copyInput" />
                    <button class="btn btn-primary" type="button" onclick="myFunction()">複製</button>
                    <script>
                        function myFunction() {
                            var copyText = document.getElementById("copyInput");
                            copyText.select();
                            document.execCommand("copy");
                            alert("Copied the text: " + copyText.value);
                        }
                    </script>
                </span>
            </div>
        </div>
    </form>
</div>

