@model ShortUrl
@{
    ViewData["Title"] = "短網址引導";
}
<br />

<div class="jumbotron">
    <h1>短網址引導</h1>
    <br />
    <p>點選後即可進入原本網址</p>
    <br />
    <form>
        <div class="form-group">
            <label>原始連結:</label>
            <label>@Model.OriginalUrl</label>
        </div>
        <div class="form-group">
            <!--在這裡產生按鈕-->
            <strong>點選後進入連結:</strong>
            <a asp-controller="ShortUrls" asp-action="RedirectTo" asp-route-path="@Model.Id" class="btn btn-primary" type="button">點選我進入連結</a>
        </div>
    </form>
</div>