@model ShortUrl
@{
    ViewData["Title"] = "Details of a short URL";
}
<br />

<div class="jumbotron">
    <h1>車車</h1>
    <br />
    <p>這台車車已經轉彎了</p>
    <br />
    <ul>
        <li>
            <span class="col-md-2">
                <strong>Id:</strong>
            </span>
            @Model.Id
        </li>
        <li>
            <span class="col-md-2">
                <strong>原本網址:</strong>
            </span>
            <a href="@Model.OriginalUrl">
                @Model.OriginalUrl
            </a>
        </li>
        <li>
            <span class="col-md-2">
                <strong>轉換過的網址:</strong>
            </span>
            <a asp-controller="ShortUrls" asp-action="RedirectTo" asp-route-path="@ViewData["Path"]">
                http://localhost:5000/ShortUrls/RedirectTo/@ViewData["Path"]
            </a>
        </li>
    </ul>
</div>
