@model ShortUrl
@{
    ViewData["Title"] = "車況回報成功";
}
<br />

<div class="jumbotron">
    <h1>車況回報成功</h1>
    <br />
    <p>感謝大家回報車況系統，以下是收集到的車況資訊。</p>
    <p>如果想要分享給親朋好友，請複製下方的"分享地址"</p>
    <br />
    <ul>
        <li>
            <span class="col-md-2">
                <strong>Id:</strong>
            </span>
            @Model.Id
        </li>
        <li>
            <span class="col-md-2">
                <strong>車輛目前所在地址:</strong>
            </span>
            <a href="@Model.OriginalUrl">
                @Model.OriginalUrl
            </a>
        </li>
        <li>
            <span class="col-md-2">
                <strong>分享地址:</strong>
            </span>
            <a asp-controller="ShortUrls" asp-action="RedirectTo" asp-route-path="@ViewData["Path"]">
                http://localhost:5000/ShortUrls/RedirectTo/@ViewData["Path"]
            </a>
        </li>
    </ul>
</div>
