@model ShortUrl
@{
    ViewData["Title"] = "車輛明細";
}
<br />

<div class="jumbotron">
    <h1>車輛明細</h1>
    <br />
    <p>以下是車輛明細，按下按鈕後會導到車輛資訊。</p>
    <br />
    <ul>
        <!--TODO : 在這裡產生按鈕-->
    </ul>
</div>